.wp-block-mtdev-privacy-youtube-block {
    display: flex;
    align-items: center;
    width: 100%;
}

.wp-block-mtdev-privacy-youtube-block.alignleft {
    justify-content: flex-start;
}

.wp-block-mtdev-privacy-youtube-block.aligncenter {
    justify-content: center;
}

.wp-block-mtdev-privacy-youtube-block.alignright {
    justify-content: flex-end;
}

